{% extends "base.html.twig" %}
{% block title %}
	Nos biens
{% endblock %}
{% block main %}
	<div class="container">
		<h1 class="mt-5 text-center">Retrouvez tous nos biens disponible ici</h1>
		<div id="filters"></div>
		<div class="mt-3 row wrap">
            <div class="count">
                <p class="h6">Nombre de biens disponibles: <span class="text-success">{{pagination.getTotalItemCount}} </span></p>
            </div>
			{% for property in pagination %}
				<div class="card m-3" style="width: 18rem;">
					<img src="https://fakeimg.pl/300/" class="card-img-top" alt="{{property.title}}">
					<div class="card-body">
						<h5 class="card-title">{{property.title}}</h5>
						<p class="card-text">{{property.getSubContent}}</p>
						<a href="#" class="btn btn-primary">Voir le bien</a>
					</div>
				</div>
			{% else %}
				<h2 class="h1">Nous n'avons aucun bien à vous proposer pour le moment</h2>
			{% endfor %}
            <div class="navigation mx-auto col-2">
                {{ knp_pagination_render(pagination) }}
            </div>
		</div>
	</div>
{% endblock %}
